ul.tabs-menu {
        margin:0;
        padding:12px 24px 0 24px;
        list-style:none;
        background-color: #fff;
        white-space: nowrap
}
ul.tabs-menu li {
        display:inline;
        background:none;
        margin:0;
        padding:0;
}
ul.tabs-menu a {
        display:-moz-inline-block;
        display:inline-block;
        margin-bottom: -1px;
        padding:5px 10px;
        border:solid 1px #d9d9d9;
        -webkit-border-top-left-radius: 5px;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topleft: 5px;
        -moz-border-radius-topright: 5px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        background:#f8f8f8;

        color:#666;
        font-weight:bold;
        text-decoration:none;
}
ul.tabs-menu a:hover {
        color:#000;
        background-color:#efefef;
}
ul.tabs-menu a.tabs-active {
        background:#E1F1FA;
        color:#c03;
        border-bottom-color:#E1F1FA;
}

