/**
   Adding class for IE product list superscript values eRebates Defect 32/84 for more detail
*/
.ie6 #product-list sup {font-size:0.8em;height: 0;line-height: 1;_vertical-align: top;position: fixed;bottom: 1ex;}
.ie7 #product-list sup {font-size:0.8em;height: 0;line-height: 1;vertical-align: top;_vertical-align: top;position: static;bottom: 1ex;} 
/**
   eRebates Defect 32/84 change ended.
*/
.erebates-name-number {width:100%; overflow:hidden;}      
.erebates-name-number li {float:left;width:100%;}     
    .ie6 .erebates-name-number li {display:inline;}
.erebates-name-number p{padding: 0px;}      
.erebates-name-number li .label {float:left; width:110px; display:block; text-align:left; color:#666;} 
.erebates-name-number li .value {float:left; width:100px; color:#333;}   
.erebates-name-number li .value .bullets li {float:none; width:auto; color:#333;} 
 .ie6 .erebates-name-number li .value .bullets li {display:block;} 
#main-content p.confirm-print {padding:10px 0 15px 475px; width:auto;}
form#confirmation p.confirm-print { padding-left: 460px; }

.scroll-table-bdy th span { white-space: nowrap; }  
.scroll-table-bdy th.product { width: 100px; }   
.scroll-table-bdy th.status { width: 120px; }   
.scroll-table-bdy th.quantity { width: 60px; }   
.scroll-table-bdy th.amount { width: 60px; }   
.scroll-table-bdy th.paid { width: 130px; }

.erebates-tab-viewer { border: 1px solid #ccc; }  
#rebatesreview .module table thead th { text-align: right; }
#rebatesreview .module table thead th.col1 { text-align: left; }
#rebatesreview .scroll-table-bdy table thead th:last-child { width: 100px; }
#rebatesreview .module table tbody td { text-align: right; }
#rebatesreview .module table tbody td.col1 { text-align: left; }
#rebatesreview .scroll-table-bdy table tbody td:last-child { width: 100px; }

#confirmation .module table thead th { text-align: right; }
#confirmation .module table thead th.col1 { text-align: left; }
#confirmation .module table tbody td { text-align: right; }
#confirmation .module table tbody td.col1 { text-align: left; }
#confirmation .scroll-table-ftr { padding-right: 0px; }   
#confirmation .sum-total { text-align: right; }   
.ie6 #confirmation .scroll-table-bdy th.amount { width: 160px; } 
.ie6 #confirmation .scroll-table-bdy td.amount { width: 160px; }

.for_status_table .scroll-table-bdy table thead th.quantity { text-align: right; }
.for_status_table .scroll-table-bdy table tbody td.quantity { text-align: right; }
.for_status_table .scroll-table-bdy table thead th.amount { text-align: right; }
.for_status_table .scroll-table-bdy table tbody td.amount { text-align: right; }
.for_status_table .scroll-table-bdy table thead th.paid { text-align: right; }
.for_status_table .scroll-table-bdy table tbody td.paid { text-align: right; }
#product-name b { font-weight: bold; }


#property-payee-info { padding: 20px; }
#property-payee-info p {padding:0; color#333;}
#property-payee-info .hr {margin:1em 0;}

.bill-exception {border:2px solid #FFA100; margin: 0 20px 20px 20px; }

.cms-tips-property { padding: 0 20px 0 20px;  }
.ready-to-apply { padding: 20px 20px 0 20px; }
.erebates-next-steps h2, .ready-to-apply h2 {font-size:20px; color:#FAA100; border-bottom:1px solid #CCC; padding-bottom:12px; margin-bottom:0 !important;}
#main-content div.apply {padding:0 0 15px 0 !important; margin:0; width:auto !important; text-align:right; }
input.button-apply {width:96px; height:35px; padding:0; margin:0; text-indent:-9999px; border:0; cursor:pointer; background:url('images/btn_apply.jpg') -5px -5px no-repeat;}
    .ie input.button-apply {text-indent:0; font-size:0; line-height:138px;}
    .ie7 input.button-apply {text-indent:0;}

.tab-viewer { border: 1px solid #ccc; }
.erebates-tab-content-nav {border:0 none; padding:0; margin:0; }
.erebates-tab-content-nav li {float:left; position:relative;  height:38px; padding:0; margin:0; }
.erebates-tab-content-nav li a,
.erebates-tabviewer .tab-content-nav li a span {height:38px; line-height:38px;}
.erebates-tab-content-nav li a {margin:0; padding:0; width:137px; text-align:center; border-bottom: 1px solid #ccc;}
.erebates-tab-content-nav li a span {display:block; color:#666; font-size:13px !important; font-weight:normal;}
.erebates-tab-content-nav li a.on {background-position:0 -50px; border-bottom: 1px solid #fff;}
.erebates-tab-content-nav li a.on span {background-position:70%;}
.erebates-tab-content-nav li a:hover {background-position:0 -50px;}
.erebates-tab-content-nav li a:hover span {background-position:70%;}
.erebates-tab-content-nav li.nav1 { width: 148px; }
.erebates-tab-content-nav li.nav1 a { width: 148px; }
.erebates-tab-content-nav li.nav1 { width: 148px; }
.erebates-tab-content-nav li.nav1 a { width: 148px; }
.erebates-tab-content-nav li.nav1 { width: 148px; }
.erebates-tab-content-nav li.nav1 a { width: 148px; }
.erebates-tab-content-nav li.nav4 { width: 150px; }
.erebates-tab-content-nav li.nav4 a { width: 150px; }
   .ie .erebates-tab-content-nav li.nav4 { width: 151px; }
   .ie .erebates-tab-content-nav li.nav4 a { width: 151px; }
   .ie6 .erebates-tab-content-nav li.nav4 { width: 148px; }
   .ie6 .erebates-tab-content-nav li.nav4 a { width: 148px; }
    
.erebates-tab-content {clear:both; min-height:200px; height: auto !important; height: 200px; background-image:none; background-color:#FFF; padding:20px 10px 20px 18px; overflow:hidden; border:1px solid #CCC; border-top: 0px;}
.erebates-tab-content h2 {font-size:12px; font-weight:normal; color:#0089C4; padding-bottom:0.5em; text-indent:5px;}
.erebates-tab-content .float-r {margin-right:23px;}
.erebates-tab-content .hr {clear:both; margin-right:18px;}
.erebates-tab-content .toggle-target { overflow:hidden;}

.product-catalogs .module-body { padding-bottom: 0; }
.need-help .module-body { padding-bottom: 0; }

/*Tab viewer control for eRebates page 1*/
.erebates-tabviewer {border:1px solid #CCC; zoom:1;}
.erebates-tabviewer .desc {float:left;}
#tab-description ul {padding:0 0 1.5em 15px;}
fieldset#payee_information { margin-top: 30px; }

.selection-content{padding:10px 0 10px;}

.list1{width:100%; height:90px; background-color: #63C2D5; }
.list2{width:100%; height:270px; background-color: #63C2D5; }
.product-specification{float:left; padding-top:20px;}
.specification-scroll {width:550px; height: 170px; overflow-y:scroll;border:1px solid #000000; padding: 10px; position: relative;}
.specification-header{font-weight: bold;}
.category-header, .product-header {font-weight:bold; padding: 10px 0 10px 10px;}

.list-placement{padding:10px 0 0 10px;}
.category-list, .product-list {width:550px !important; font-family: Arial; }

#products { height: 180px; background-color: #fff; width: 550px; margin: 10px 10px 20px 13px; border: 1px solid #ccc; overflow-x: hidden; overflow-y: auto; }
ul#product-list { padding: 0; margin: 0; }
#product-list li { padding: 5px 0 5px 5px; cursor: pointer; }
#product-list li.last { border: 0; }
#product-list li.odd { background-color: #fff; }
#product-list li.even { background-color: #eee; }
#product-list li.selected { background-color: Highlight; color: HighlightText; }

#main-content p.submit { margin-top: 20px; }
#property-payee-info { padding: 20px; }
#property-payee-info p {padding:0; color#333;}
#property-payee-info .hr {margin:1em 0;}

#select_product .cms-tips-property { padding: 15px 0px 30px 0px; }
a.rollover-forward.btn-cancel-gry  {background-position:-20px -3918px;}
    .ie6 a.move-forward.btn-cancel-gry  {width:100px; background-position:-20px -3868px;}
a.move-forward.btn-cancel-gry {width:100px; background-position:-20px -3868px;}
a.rollover-forward.btn-cancel-gry  {background-position:-20px -3918px;}
    .ie6 a.move-forward.btn-cancel-gry  {width:100px; background-position:-20px -3868px;}

#product_info .datepicker { width: 100px; }
#product_info .hint-association { float: left; position: relative; }

#quantity { width: 100px; }
#modelnotfound { display: none; }

fieldset#product { padding-bottom: 10px; }
fieldset#additionalinfo { padding-bottom: 10px; }

form.erebates-form select { width: 305px; }
   .ie6 form.erebates-form select { width: 297px; }
form.erebates-form input.text { width: 297px; }
   .ie6 form.erebates-form input.text { width: 290px; }

.sum-total {color:#333; padding-right: 112px; text-align: right;}
#confirmation .sum-total { padding-right: 20px; }
.grand-total {color:#666; font-size:12px; padding-right:0.3em;}
.total-amount {font-size:12px; padding-right:0.3em;}
    .ie7 .sum-total, .ie6 .sum-total {margin-top:1.4em;}

 fieldset#terms { padding-bottom: 10px; }
.ie6 fieldset#terms label.has-checkable { white-space: nowrap; }
input.erebates-btn-addproduct {width:200px; height:35px; margin:0; overflow:hidden; border:0; cursor:pointer; background:transparent url('images/btn_add-another-product.jpg') -5px -7px no-repeat;}

.modal-edit-property {display:none; width:640px; zoom:1; border:2px solid #CCC;}
.modal-edit-payee {display:none; width:640px; zoom:1; border:2px solid #CCC;}
#modal-payee-edit-content ul{width:100%; padding:2em 0;}
#modal-payee-edit-content p{padding: 0 23px 10px 0; font-size: 1em;}
#modal-payee-edit-content label{float: left; margin: 0 40px 5px 0; text-align:right; width:200px;}
#modal-payee-edit-content.input-group.occupied{float: left; margin: 0 20px 5px 0; text-align:right; width:220px;}
    .input-results li .name {float:left; width:220px; margin-right:20px; display:block; text-align:right; color:#666;} 
#editpayeeinfo { margin-top: 10px; }
    
    
h2.subtitle { color:#FFA100; border-bottom: 1px solid #ccc; }
.next-steps-image {float:left; padding-top:20px;}
#completeprocess { margin-left: 120px; margin-top: 20px; }
#completeprocess h3 { font-weight: bold; color: #0089c4; }
#completeprocess ul li { margin-left: -24px; }
#completeprocess ul li p { color: #666; }
input.button-print {width:96px; height:35px; padding: 0; margin:0 0 0 20px; text-indent:-9999px; border:0; cursor:pointer; background:url('images/btn_print.jpg') -5px -5px no-repeat;}
    .ie input.button-print  {text-indent:0; font-size:0; line-height:138px;}
    .ie7 input.button-print  {text-indent:0;}
fieldset#rebatecart { padding: 0; }

.erebates-important-note{border: 1px solid black; padding: 20px 20px 15px 20px; width: 578px; margin-bottom: 10px; line-height: 1em; font-size: 1em; margin: 0 0 20px;
}
.erebates-important-note form { padding: 0; }
.erebates-important-note .confirm-text p{font-weight: bold; padding-bottom: 20px; font-size:12px;}

.erebates-confirm-table-head{color:#0089C4; font-size: 16px; padding-bottom: 5px;}
.confirm-text { float: left; margin-top: 18px; font-weight: bold;}

/*module: Rebate status- all applications tables*/
.box{border:1px solid #000000; padding: 5px; width:570px; margin-bottom:10px;}
.application-status {width:100%; overflow:hidden; margin-bottom:2em; font-size: 11px;}
    .application-status li {float:left; width:100%;}
        .ie6 .application-status li {display:inline;}
    .application-status li div.basic-row {padding-bottom:0; padding-top: 0; font-weight: bold; font-size: 14px;}
    .application-status li.basic-list{padding-bottom: 10px;}
        .section1{padding-right: 10px;}
        .section1,.section2{font-size: 12px;}
        #application-number,#application-rdate {font-weight: normal; padding-left:5px;}


/* module: system unavailable*/
.two-thirds-system-unavailable{float:left; padding:0 20px 20px 20px; width:620px;}
.existing-problem, .suggested-solution {width: 600px; text-align: justify;}
.existing-message, .suggested-message p{color:black;}
.system-unavailable-head{color:#0089C4; font-weight: bold; font-size:16px; padding-bottom:5px;}
.red-header{color:red;}

.ready-to-apply p { padding: 10px 0 0 0; }
.ways-to-save.cart  img{width:100px;}
.module .module-body.viewcart {height:80px;}
.uom { font-size: .8em; font-weight: bold; }

/*tabs style fix 8/24*/

.tab-content-program-erebates li a {
    width: 137px;
}

/*tabs style fix 8/24*/
